body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

:root {
    /* Definição de variáveis de cor */
    --cor-primaria: #2e7d32; /* Verde */
    --cor-fundo: rgb(221, 217, 217); /* Branco meio difernte*/
    --cor-hover: #c5e1a5; /* Verde claro*/
    --cor-neutro: #f2f2f2; /* Tom neutro */
    --fonte-principal: Arial, sans-serif;
}

body {
    background-color: var(--cor-fundo);
}


nav {
    
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 43px;
        background-color: var(--cor-primaria);
        color: #fff;
        transition: top 0.5s;
        z-index: 1000;
        padding: 10px 0;
    
}
.hidden {
    top: -101vh; /* Esconde o nav normal e o nav mobile se tiver aberto*/
}


.logo img {
width: 140px;
margin-right: 6vw;
margin-left: 4vw;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

nav ul li {
    margin-right: 15px;

}

nav ul li:first-child {
    margin-left: 10px;

}

nav ul li:last-child {
    margin-right: 5px;
}

nav ul li a {
    color: var(--cor-hover);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px; 
    transition: color 0.3s;
    display: block; 

}

nav ul li a:hover {
    color: #89ff03;
    text-decoration: underline;
    transform: scaleX(1.05);
    text-decoration-style: solid; 
 

}

nav ul li a::after {
    transform: scaleX(0);
    transition: transform 0.25s ease-out, height 0.25s ease-out; 
  }

.menu-btn button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 15px; 
    border-radius: 25px;
    cursor: pointer;
    margin-right: 10vw;

}




.menu-btn a.btn-primary {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 15px; 
    border-radius: 5px;
    cursor: pointer;
}

.menu-btn {    margin: 0 10vw;}


.menu-btn button:hover {
    background-color: #45a049;
    
}

.nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
    margin-left: 45vw;
    margin-right: 1vw;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 1080px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 62px;
      right: 0;
      width: 40vw;
      height: 86vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      border-bottom-left-radius: 20px;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
/*ate aqui*/

.main {
    padding: 40px;
}

.hero {
    background-image: url('assets/1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding-right: 20%;
}

.hero-content {
    max-width: 800px;
    padding: 0 20px;
}

main h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.container-remsoma hr{background-color: var(--cor-primaria);
    width: 120px;
    height: 10px;
    border-radius: 50px;
    margin-left: 0;}

    .container-remsoma {
        background-color: white;
        display: flex;
        align-items: stretch;
        justify-content: center;
        padding: 4vh 10vw;
        padding-right: 4vw;

    }
    
    .image-container {
        flex: 1;
        display: flex;
        align-items: center; 
        justify-content: center;
    }
    
    .image-container img {
        max-width: 100%;
        max-height: 100%; 
        height: auto; 
    }
    
    .text-container {
        flex: 1;
        display: flex;
        flex-direction: column; 
        justify-content: center;
}

.recomendacoes{margin: 4vh 8vw;        text-align: center; 
}

.recomendacoes hr{background-color: var(--cor-primaria);
    width: 320px;
    height: 10px;
    border-radius: 50px;
    }
.recomendacoes h1 {margin: 4vh 10vw}

.quadradinho {
    width: 30vw;
    height: 200px;
    background-color: var(--cor-verde-suave);
    display: inline-block;
    border-radius: 10%;
    transition: transform 0.3s ease; 
    display: flex;
    justify-content: center; 
    background-color: white;
    margin: 2vh 4vw;
}
  

.quadradinho:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.quadradinho-container {
    display: flex;
    justify-content: center;
}

.quadradinho img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.quadradinho p {
    margin-top: 20px; 
    font-size: 1.6rem;
    line-height: 26px;
    max-width: 70%;
    text-align: center;
    display: flex;
    align-items: center; /* Alinha os itens verticalmente ao centro */}

    @media (max-width: 1250px) {.quadradinho-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;}
        .quadradinho{    display: flex;
            width: 80vw;
            margin: 4vh 10vw;
            height: 160px;
        }
        .recomendacoes{margin: 4vh 2vw;        text-align: center; /* Centraliza o conteúdo horizontalmente */
        }
    }


span {
    font-size: 1.3rem;
    line-height: 30px;
}



.dicas-sustentabilidade {
    background-image:url(assets/Design\ sem\ nome\ \(1\).png) ;
    margin-top: 5%;
    background-color: var(--cor-fundo); 
    padding: 40px 0;
    background-color: white;
    background-repeat: repeat-y;
    
}

.dicas-sustentabilidade h2 {
    margin-right: 2vw;
    margin-left: 20vw;
    color: #333; 
    font-size: 2.2rem; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
    }


.dicas-sustentabilidade .dicas {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.dica {
    margin-bottom: 40px;
    margin-left: 20vw
}



.dica h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.dica p {
    font-size: 1.6rem;
    color: #666;
    line-height: 1.6;
}


 button {
    width: 100%;
    padding: 10px 0;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}






        footer {
            background-color: #2a492e;
            color: #fff;
            padding-top: 20px; 
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .container-footer {
            display: flex;
            justify-content: space-between;
            max-width: 96vw;
            margin: 0 auto;
        }


        .img-footer {width: 100%;
            max-height: 100%; 
    }

        .img-share-footer-container{display: flex; 
        }
        .img-share-footer{
            margin-right: 10px; 
            width: 10%;
            max-height: 100%;
            transition: opacity 0.3s ease; 
        }
        .img-share-footer:hover {
            opacity: 0.5; 
          }

          /*colunas do footer*/
        .coluna-logo {
            flex-basis: 20%;
            margin-left: 1vw;
            align-items: center;
            text-align: justify;
            transition: transform 0.3s ease; 

            
        }
        .coluna-contato {
            flex-basis: 35%;
            margin-left: 8vw;
        }
        .coluna-paginas {
            flex-basis: 40%;
            margin-left: 8vw;
        }

        .coluna-paginas a {
            margin-bottom: 10px;
            color: white; 
            text-decoration: none; 
        }
        .coluna-paginas a:hover {
            text-decoration: underline; 
            color: white; }

        .coluna-paginas ul {
            list-style-type: none;
            padding: 0;
        }
        .coluna-paginas ul li {
            margin-bottom: 5px;
            list-style-type: none; /

        }
        .coluna-paginas li:before {
            content: ">"; /* poe ">" antes de cada item*/
            margin-right: 5px; }

    .container-contato {
        max-width: 600px;
        max-height: 600px; 
        margin: 20 px auto 50px;
        background-color: #477c52;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
   

    /* Formulário do Footer */
    .input-footer {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
    textarea {
        height: 70px;
    }

    .botao-footer {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .botao-footer:hover {
        background-color: #45a049; 

    }
    .share-text-footer {color: #5e7a61;}
    .hr-footer{  border-color: rgb(93, 121, 96);
    }
    .copyright-footer {
        background-color: #1c311f; 
        padding: 10px; 
        text-align: center; }

     /*  responsividade no footer em telas menores*/

     @media (max-width: 870px) {
        .container-footer {
            display: flex;
            flex-wrap: wrap;
        }
    
        .coluna-logo {
            flex-basis: 38vw; 
            margin: 0 3vw; 
        }
    
        .coluna-contato {
            flex: 1 1 40vw; 
            margin-top: 5vh; 


        }
        .coluna-contato h2 {
            text-align: center;
        }
    
        .coluna-paginas {
            flex-basis: 40vw;
           margin-right: 4vw;

        }
        .botao-footer {align-self: center;}
    }